.root {
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 7px;
  margin: 0px;
}

.green {
  composes: root;
  color: rgb(46, 204, 113);
}

.red {
  composes: root;
  color: rgb(231, 76, 60);
}

.grey {
  composes: root;
  color: rgb(189, 195, 199);
}

.text {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}
