.root {
  width: auto;
  min-width: 5px;
  height: 20px;
  text-align: center;
  border-radius: 7px;
  margin: 0px;
}

.green {
  composes: root;
  color: rgb(46, 204, 113);
}

.red {
  composes: root;
  color: rgb(231, 76, 60);
}

.grey {
  composes: root;
  color: rgb(120, 120, 120);
}

.text {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  font-weight: bold;
}
